$title-font-size: 29px;
$title-letter-spacing: calc(3 / 100) * 29px;
$title-line-height: 120%;
$text-large: 17px;
$text-large-letter-spacing: calc(3 / 100) * 17px;
$text-line-height: 165%;
$text-medium: 15px;
$text-small: 11px;
$red-color: #ff4641;
$orange-color: #fc4f1e;
$gray-color: #212121;
$light-gray-color: #9d9d9d;
